@media print {
    .redactor-toolbar {
        display:none;
    }

    .redactor-editor {
        overflow: visible !important;
        height: auto !important;
    }

    .redactor-box-fullscreen {
        height: auto !important;
        position: static !important;
        overflow: visible !important;
        overflow-x: hidden !important;
    }

    body {
        overflow: visible !important;
    }
}